* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #c1c1c1;
  font-family: 'Inter', sans-serif;
}

.grid_header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}

#container-relatorios {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 3%;
}

.form-caixa {
  background-color: #fff;
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.editar:hover {
  background-color: #167e56; 
}

#nav {
  background-color: #333333;
  color: white;
}

.navbar-brand {
  display: flex;
  margin: 0px;
}

a:hover{
  color: white;
  text-decoration: none;
}